<div class="social">
<div class="text-center mt-3">
  <strong class="h1">welcome to <i class="fas fa-book"></i>Bookers !!</strong>
  <p>In <i class="fas fa-book"></i>Bookers,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
</div>

<div class="form-group row justify-content-center">
  <a class="btn btn-info btn-sm btn-block w-25 mb-3 sign_in" href="/users/sign_in">Log in</a>
    </div>

<div class="form-group row justify-content-center">
  <a class="btn btn-success btn-sm btn-block w-25 mb-3 sign_in" href="/users/sign_up">Sign up</a>
    </div>
    </div>